* {
	font-family: 'Times New Roman', sans-serif;
}

.wrapper {
	display: flex;
	gap: 20px;
}

.templates {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	height: max-content;
	padding: 15px;
}

.templates > label {
	margin: 10px 0;
}

.templates > p {
	margin: 0;
	font-weight: bold;
}

.templates > button {
	margin: 10px 0;
}

.templates > hr {
	width: 100%;
}

form {
	width: max-content;
}

.input-block {
	display: flex;
	justify-content: space-between;
	width: 550px;
	margin-top: 10px;
}

#full_name-error, #title-error {
	color: red;
	display: none;
}

.input-block > label.required::after {
	content: '*';
	color: red;
}

.input-block > input,
.input-block > textarea {
	width: 300px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

.input-block > textarea {
	height: 100px;
	resize: none;
}

.button-block {
	display: flex;
	justify-content: space-evenly;
	margin-top: 15px;
}

.button-block > button {
	height:40px;
}
