* {
	font-family: 'Times New Roman', sans-serif;
}

body {
	margin: 0;
	width: max-content;
	position: relative;
}

.page {
	width: 210mm;
	height: 296.9mm;
	background-color: #EEE5D5;
}

.first-page > img {
	width: calc(100% - 35mm * 2);
	margin: 180mm 35mm 0;
}

.second-page > .full-name {
	padding: 60mm 70mm 0;
	text-align: center;
}

.second-page > .full-name > .last-name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18pt;
	margin: 0 0 3mm;
}

.second-page > .full-name > .name {
	font-size: 18pt;
	width: max-content;
	margin: auto;
}

.second-page > .congratulation {
	padding-top: calc(155mm - 80mm);
}

.second-page > .congratulation > .title {
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
	padding: 0 55mm;
	margin: 0;
}

.second-page > .congratulation > .text {
	font-style: italic;
	font-weight: bold;
	font-size: 14pt;
	margin: 8mm 10mm;
	text-indent: 8mm;
}

.second-page > .sign {
	position: absolute;
	bottom: 0;
	width: calc(90% - 10mm);
	padding: 0 10mm 0 20mm;
}

.second-page > .sign > .text {
	font-style: italic;
	font-weight: bold;
	font-size: 14pt;
	text-align: end;
}

.second-page > .sign > img {
	position: absolute;
	top: -3mm;
	left: 72mm;
	width: 50mm;
	height: 40mm;
}

.second-page > .sign > .date {
	font-style: italic;
	font-weight: bold;
	font-size: 14pt;
	text-align: start;
	margin-top: 50px;
}
