.container {
  display: flex;
  height: 100vh;

  @media (min-width: 901px) and (max-width: 1200px) {
    align-items: center;
    flex-direction: column;
  }
}

.settings {
  width: 20%;
  margin: 10px 5px 10px 10px;
  padding: 20px;
  border: 1px solid black;

  @media (min-width: 901px) and (max-width: 1200px) {
    width: 40%;
    padding: 40px 20px;
  }
}

.preview {
  width: 80%;
  margin: 10px 10px 10px 5px;
  padding: 20px;
  border: 1px solid black;

  @media (min-width: 901px) and (max-width: 1200px) {
    width: max-content;
    border: none;
  }
}
