* {
	font-family: 'Times New Roman', sans-serif;
}

body {
	margin: 0;
	width: max-content;
	position: relative;
}

.page {
	width: 148mm;
	height: 209.75mm;
	background: linear-gradient(180deg, rgba(142,180,202,1) 0%, rgba(255,255,255,0.8) 100%);
	display: flex;
}

.page > .building-image {
	position: absolute;
	height: 100%;
	z-index: -1;
}

.page > .left-side {
	width: 148mm;
}

.page > .left-side > img {
	width: calc(100% - 25mm * 2);
	margin: 4mm 4mm 0;
}

.page > .left-side  > .congratulation {
	width: 148mm;
	padding-top: 5mm;
}

.page > .left-side  > .congratulation > .title {
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
	margin: auto;
}

.page > .left-side  > .congratulation > .text {
	font-style: italic;
	font-weight: bold;
	font-size: 14pt;
	margin: 8mm 5mm;
	text-indent: 8mm;
}

.page > .left-side  > .sign {
	position: absolute;
	bottom: 2mm;
	width: calc(100% - 15mm);
	padding: 0 5mm 0;
}

.page > .left-side  > .sign > .text {
	font-style: italic;
	font-weight: bold;
	font-size: 14pt;
	text-align: end;
}

.page > .left-side  > .sign > img {
	position: absolute;
	top: -15mm;
	left: 5mm;
	width: 60mm;
	height: 50mm;
}

.page > .left-side  > .sign > .date {
	font-style: italic;
	font-weight: bold;
	font-size: 14pt;
	text-align: start;
	margin-top: 50px;
}
