<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Поздравление Мустыгин М.М</title>
	<link rel='stylesheet' href='style.css'>
	<link type="Image/x-icon" href="../assets/favicon.ico" rel="icon">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"-->
<!--			integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw=="-->
<!--			referrerpolicy="no-referrer"-->
<!--			crossorigin="anonymous"></script>-->
</head>
<body>
	<section class='page'>
		<img class="building-image" src='../assets/building.png' alt='logo'>
		<section class='left-side'>
			<img src='../assets/logo.png' alt='logo'>
			<section class='congratulation'>
				<h3 id='title' class='title'>Уважаемый Михаил Михайлович!</h3>
				<p id='text_1' class='text'>
					От имени Московской областной Думы и от себя лично хочу искренне поздравить Вас с Днём Рождения!
				</p>
				<p id='text_2' class='text'>
					Желаю Вам крепкого здоровья, удачи, счастья, мира и всех добрых благ. Пусть этот год принесёт Вам новые возможности, радость и успех в Вашей профессиональной и личной жизни.
				</p>
				<p id='text_3' class='text'>
					Ваши преданность и силы, вложенные в работу, несомненно, способствуют развитию нашего региона. Пусть Ваша работа продолжает и дальше приносить пользу жителям Московской области.
				</p>
				<p id='text_4' class='text'>
					Благодарю Вас за стремление делать наш мир лучше.
					Пусть Ваши яркие идеи воплощаются в жизнь, а оптимизм и неиссякаемая энергия всегда помогают уверенно двигаться вперёд!
				</p>
			</section>
			<section class='sign'>
				<p class='text'>С уважением, Лобышева Е.А.</p>
				<p class='text'>Депутат Московской областной Думы</p>
				<img src='../assets/sign.png' alt='sign'>
				<p id='date' class='date'>г. Москва, 27 октября 2022 года</p>
			</section>
		</section>
	</section>
	<script src='../../../generator.js'></script>
	<script>fillTemplate()</script>
</body>
</html>
