.postcard {
  position: relative;
  width: 21cm;
  height: 14.8cm;

  .background {
    height: 100%;
  }

  .blazon {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 180px;
  }

  .textContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 110px 0;
    text-align: center;

    .header {
      font-size: 20pt;
      font-weight: bold;
      font-style: italic;
    }

    .text {
      margin: 30px 80px 20px;
      text-align: center;
      font-size: 12pt;
      font-style: italic;

      p {
        margin-top: 15px;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 40px;
      padding: 0 50px;
      align-items: center;
      font-weight: bold;
      font-style: italic;

      &Left {
        width: 55%;

        &Text {
          font-size: 12pt;
          text-align: left;
        }
      }

      .sign {
        height: 100px;
      }

      &Right {
        align-self: end;

        .fullName {
          font-size: 14pt;
          text-align: right;
        }

        .date {
          font-size: 12pt;
          text-align: right;
          margin-top: 10px;
        }
      }
    }
  }
}
